section {
  margin: 30px;
  padding: 30px;
  border: solid 1px #d6d6d6; }

.hero-image-delivery {
  width: 100%;
  height: 450px;
  background-image: url("/img/delivery.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center; }
