* {
  font-family: 'Work Sans', sans-serif; }

body {
  margin: 0;
  padding: 0; }

/*Header*/
header {
  width: 100%;
  height: 80px;
  background: #1c3a1a;
  color: #ffffff;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  position: absolute;
  opacity: 0.8;
  position: fixed; }
  header b {
    font-size: 24px;
    width: 50%; }
  header nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    header nav ul li {
      list-style: none;
      display: inline;
      margin-right: 30px; }
      header nav ul li a {
        text-decoration: none;
        color: #ffffff; }
    header nav ul img {
      width: 20px;
      height: 20px;
      display: inline; }

.mainsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  padding: 30px;
  border: solid 1px #d6d6d6; }
  .mainsection h2 {
    text-align: center; }

/*Hero Image*/
.hero-image {
  width: 100%;
  height: 600px;
  background-image: url("/img/heroimage.jpeg");
  background-position: center;
  background-size: cover;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero-image h1 {
    font-size: 30px;
    position: absolute;
    top: 300px; }

/*Slide, Carousel*/
.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px; }
  .slider .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; }
    .slider .slides div {
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 300px;
      height: 300px;
      margin-right: 50px;
      border-radius: 10px;
      background: #ffffff;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s;
      position: relative;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .slider .slides -webkit-scrollbar {
      width: 10px;
      height: 10px; }
    .slider .slides -webkit-scrollbar-thumb {
      background: #000000;
      border-radius: 10px; }
    .slider .slides -webkit-scrollbar-track {
      background: transparent; }
  .slider img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .slider a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: #1c3a1a;
    opacity: 0.6;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 1rem 0;
    position: relative; }
  .slider a:active {
    top: 1px; }
  .slider a:hover {
    background: #1c3a1a; }

/*Footer*/
footer {
  position: relative;
  height: 130px;
  width: 100%;
  background: #645348;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 30px 30px;
  box-sizing: border-box;
  z-index: -1; }
  footer .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    footer .contactinfo p {
      font-size: #ffffff;
      margin: 0; }
  footer .socialmedia {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    footer .socialmedia .fa {
      padding: 10px;
      font-size: 20px;
      width: 20px;
      text-align: center;
      text-decoration: none;
      margin: 3px 3px;
      border-radius: 50%; }
    footer .socialmedia .fa:hover {
      opacity: 0.3; }
    footer .socialmedia .fa-facebook,
    footer .socialmedia .fa-twitter,
    footer .socialmedia .fa-instagram {
      background: #1c3a1a;
      opacity: 0.6;
      color: #ffffff; }
